/***Common CSS***/

* {
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Montserrat', 'Kalpurush' , 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
}
a{
  color: #28a2e1;
}
a:hover{
  color: #004432;
}
section#about,
section#service,
section#contact {
  padding: 60px 0;
}
section .section-header {
  max-width: 600px;
  margin: 0 auto;
}
section .section-header i {
  color: #28a2e1;
  font-size: 32px;
  margin-bottom: 10px;
}
section .section-header h2 {
  color: #555;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 32px;
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
}
section .section-header p {
  font-weight: 500;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 50px;
}
section hr {
  background: #73458e none repeat scroll 0 0;
  border-color: #87509c;
  border-radius: 4px;
  border-width: 2px;
  height: 2px;
  margin-bottom: 19px;
  margin-top: 8px;
  max-width: 50px;
  opacity: 0.3;
  -webkit-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s;
}
section:hover hr {
  max-width: 95px;
}
.main-container{
  box-shadow:  0 0 11px 5px rgba(0, 0, 0, 0.15);
}
.theme-border{
  border: 1px solid #28a2e1;
}
.theme-bg{
  background: #28a2e1;
  color: #fff;
}
.theme-shadow{
  box-shadow: 2px 2px 1px 1px rgba(0,0,0,0.15);
}
.theme-border-color{
  border-color: #28a2e1;
}
.breadcrumb{
  background: #28a2e1;
  padding: .5rem 1rem;
}
.breadcrumb-item a{
  color: #fff;
}
.breadcrumb-item.active{
  color: #e0e4ee;
  /*color: #fff;*/
}
.space-ima{
  width:200px; 
  float:left; 
  margin-right: 15px; 
  border: 1px solid #ddd;
  padding: 5px; 
  background: #eee
}

.space-ima1{
  border: 1px solid #ddd;
  padding: 5px; 
  background: #eee
}


/********* Section TopBar *************/
section.top-bar {
  background: #28a2e1;
  width: 100%;
  min-height: 40px;
  color: #fff;
  padding: 0 15px;
}

.top-contact p {
  margin-bottom: 0;
  padding: 10px 0;
}

.top-contact p i {
  margin-right: 3px;
}

.top-social {
  display: block;
  float: right;
  margin-top: 9px;
}

.top-social ul {
  padding: 0;
  margin: 0;
}
.top-social ul li {
  list-style: none;
  float: left;
  padding-left: 18px;
}
.top-social ul li a {
  color: #fff;
  text-decoration: none;
}
.top-social ul li a:hover {
  color: #e10600;
}

/***** Section Logo Wrap ******/

.logo-wrap{
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  overflow: hidden;
}
.banner-bg{
  display: block;
  overflow: hidden;
  width: 100%;
  height: auto;
}
.navbar-brand {
  padding: 30px 0 20px 50px;
  position: absolute;
  top: 0;
}
.navbar-brand img{
  width: 120px;
}
.navbar-brand span{
  font-size: 32px;
  font-weight: 600;
  text-shadow: 0px 2px 1px #fff;
  color: #28a2e1;
}

/***** End Section Logo Wrap ******/

/***** NavBar CSS *****/

section#mainNav {
  background: #28a2e1;
}
.navbar {
  padding: 5px 0 2px 0;
  background: #28a2e1;
}
.navbar-toggler {
  float: right;
  border: none;
  padding-right: 0;
}
.navbar-toggler:active,
.navbar-toggler:focus {
  outline: none;
}
.navbar-light .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 1px solid #fff;
  transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after,
.navbar-light .navbar-toggler-icon:before {
  width: 24px;
  position: absolute;
  height: 1px;
  background-color: #fff;
  top: 0;
  left: 0;
  content: "";
  z-index: 2;
  transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after {
  top: 8px;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent;
}
.nav-link {
  color: #fff !important;
  font-weight: 500;
  font-size: 17px;
  transition: all 200ms linear;
}
.nav-item:hover .nav-link {
  color: #ddd !important;
}
.nav-item.active .nav-link {
  color: #ddd !important;
}
.nav-link {
  position: relative;
  padding: 5px 0 !important;
  display: inline-block;
}
.nav-item:after {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  content: "";
  background-color: #e10600;
  opacity: 0;
  transition: all 200ms linear;
}
.nav-item:hover:after {
  bottom: 0;
  opacity: 1;
}
.nav-item.active:hover:after {
  opacity: 0;
}
.nav-item {
  position: relative;
  transition: all 200ms linear;
}
.nav-item .dropdown-menu {
  transform: translate3d(0, 10px, 0);
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  display: block;
  padding: 0;
  margin: 0;
  border-radius: 0;
  transition: all 200ms linear;
}
.nav-item.show .dropdown-menu {
  opacity: 1;
  visibility: visible;
  max-height: 999px;
  transform: translate3d(0, 0px, 0);
}
.dropdown-menu {
  padding: 10px !important;
  margin: 0;
  font-size: 13px;
  letter-spacing: 1px;
  color: #212121;
  background-color: #fcfaff;
  border: none;
  border-radius: 3px;
  box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
  transition: all 200ms linear;
}
.dropdown-toggle::after {
  display: none;
}
.dropdown-item {
  padding: 3px 15px;
  color: #212121;
  border-radius: 0;
  transition: all 200ms linear;
}
.dropdown-item:hover,
.dropdown-item:focus {
  color: #fff;
  background-color: #28a2e1;
}
.nav-dd-icon {
  padding-left: 2px;
}

/***** End NavBar CSS *****/


/***** Section News Ticker CSS *****/

.news-ticker{
  /*background: rgba(0, 106, 78, .15);*/
  background: rgba(40, 162, 225, 0.21);
  display: block;
  overflow: hidden;
}
.breaking-box{
  display: block;
  overflow: hidden;
  height: 21px;
}
.news-ticker .bg-primary{
  background: #28a2e1 !important;
}
.news-ticker .badge-danger{
  background: #e10600 !important;
  padding: 5px !important;
}
.navigation-box {
  top: 1px;
  right: 0;
  width: 3rem;
  background: #D9E9E5;
  position: absolute;
  padding: 11px 0;
}
.navigation-box .text-primary{
  color: #28a2e1 !important;
  opacity: 1;
}
.navigation-box .text-primary:hover,
.navigation-box .text-primary:focus{
  color: #003d2d !important;
}
.navigation-box .carousel-control-prev{
  left: 7px;
}
.navigation-box .carousel-control-next{
  right: 10px;
}
/***** End Section News Ticker CSS *****/


/****** Slider CSS *****/

.main-slider{
  border: 1px solid #28a2e1;
  padding: 15px;  
  box-shadow: 2px 2px 1px 1px rgba(0,0,0,0.15);
}

.carousel-caption {
  bottom: 0;
  top: 32%;
  text-align: left;
}
.carousel-caption h2 {
  font-size: 50px;
  font-weight: 700;
  text-transform: capitalize;
}
.carousel-caption h2 span {
  color: #28a2e1;
}
.carousel-indicators {
  justify-content: left;
}
.carousel-indicators li {
  width: 40px;
  height: 8px;
  opacity: 0.8;
}
.carousel-indicators .active {
  background-color: #28a2e1;
  opacity: 1;
}
/***** End Slider CSS *****/


/***** Site Slogan CSS *****/
.site-slogan{
  border: 1px solid #28a2e1;
  padding: 15px;
  text-align: center;
  box-shadow: 2px 2px 1px 1px rgba(0,0,0,0.15);
}
.site-slogan p{
  margin-bottom: 0
}
/***** End Site Slogan CSS *****/


/***** Left Side Bar *****/
.sidebar .card-header,
.right-side-content .card-header{
  background: #28a2e1;
  color: #fff;
  font-size: 18px;  
  padding: 7px 15px;
}
.sidebar .card-body{
  padding: 15px;
}
.hm-img{
  width: 100%;
  border: 1px solid #ddd;
}
.hm-name{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.hm-message{
  text-align: justify;
  margin-bottom: 10px;
}
.hm-details{
  text-align: center;
  display: block;
  color: #28a2e1;
  font-weight: 500;
}
.hm-details:hover{
  color: #e10600;
}

/*****Notice List*****/
.notice-list{
  list-style: none;
  margin: 0;
  padding: 0;
}
.notice-list li{
  padding-left: 30px;
  position: relative;
  margin-bottom: 7px;
}
.notice-list li a{
  text-decoration: none;
  color: #333;
}
.notice-list li a i{
  color: #28a2e1;
  position: absolute;
  left: 0;
  top: 5px;
  font-size: 20px;
}
.notice-list li:hover{
  background: #ddd;
}


/**** Right Side Content ****/

.right-side-content .card-header i{
  position: absolute;
  right: 10px;
  top: 10px;
}
.right-side-content .hm-details{
  display: inline;
}
.right-side-content p{
  margin-bottom: 0;
}

/***** Footer CSS *****/

footer {
  background: #28a2e1;
  padding: 2rem 1rem;
}

.footer-contact{
  color: #fff;
}
.footer-contact h4{
  font-size: 18px;
  font-weight:  600;
  margin-bottom: 20px;
}
.footer-contact p{
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
}
.footer-contact p i{
  position:  absolute;
  left: 0;
  top: 5px;
  font-size: 18px;
}

.footer-service{
  color: #fff;
}
.footer-service h4{
  font-size: 18px;
  font-weight:  600;
  margin-bottom: 20px;
}

.footer-service ul{
  padding: 0;
  margin: 0;
}
.footer-service ul li{
  list-style: none;
}
.footer-service ul li a{
  color: #fff;
  padding: 2px 0;
  display: block;
  text-decoration: none;
}
.footer-service ul li:first-child a{
  padding-top: 0;
}
.footer-service ul li a i{
  margin-right: 5px;
}
.footer-service ul li a:hover{
  color: #e0e4ee;
}

.copyright-power{
  background: #000;
  color: #fff;
  padding: 1rem;
}
.copyright-power p{
  margin-bottom: 0;
}


/***** Contact Us CSS *****/

#contact {
  background: #f1f1f1;
}
#msg-sending-form .form-group:last-child {
  margin-bottom: 0;
}
.contact-form {
  margin-top: 15px;
  padding: 15px;
  background: #fff;
  border: 1px solid #057649;
  -webkit-box-shadow: 2px 2px 1px 1px rgba(0,0,0,0.15);
  box-shadow: 2px 2px 1px 1px rgba(0,0,0,0.15);
}
.contact-form .form-control {
  background: #f1f1f1;
  height: 50px;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 18px;
  font-weight: 500;
  color: #555;
  border-radius: 0;
  -webkit-box-shadow: 0 0 4px 1px rgba(65, 105, 225, 0.1);
  box-shadow: 0 0 4px 1px rgba(65, 105, 225, 0.1);
}
.contact-form .form-control:focus {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
    0 0 8px rgba(65, 105, 225, 0.6);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
    0 0 8px rgba(65, 105, 225, 0.6);
}
.form-control::-moz-placeholder {
  color: #666;
}
.form-control:-moz-placeholder {
  color: #666;
}
.form-control::-webkit-input-placeholder {
  color: #666;
}
.form-control:-ms-input-placeholder {
  color: #666;
}
.contact-form textarea.form-control {
  min-height: 107px;
}
.contact-form .custom_btn {
  margin-top: 0;
  width: 250px;
  border-radius: 0;
  background: #28a2e1;
  padding: 15px 10px;
  color: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.contact-form .custom_btn:hover {
  background: #e10600;
}
.contact-form label{
  font-size: 18px;
}
.custom-box
{
  background: #28a2e1;
  box-shadow: 2px 2px 1px 1px rgba(0,0,0,0.15);
  margin-bottom: 20px;
  color: #ffffff;
}
.custom-box h2
{
  padding: 10px 15px;
  font-size: 18px;
}
.custom-box-shadow 
{
  box-shadow: 2px 2px 1px 1px rgba(0,0,0,0.15);
}
.fild-box {
  background: rgba(0,0,0,0.03); 
  border: 1px solid #057649; 
  padding: 10px; 
  margin-bottom: 20px;
}
.custom-box-shadow.fild-box p{
  padding-left:  20px;
  padding-bottom: 2px;
  position: relative;
}

.custom-box-shadow.fild-box p i{
  position: absolute;
  left: 0;
  top: 5px;
}


/**** Academic  CSS ****/

.syllabus-table .thead-light th{
  background: #28a2e1 !important;
  color: #fff;
}

.teacher-list h5.card-title{
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 600;
}

.teacher-list .card-body{
  padding: 1rem .75rem;
}

.teacher-list .list-group-item{
  padding: .75rem;
}

.teacher-list .pagination .page-item .page-link{
  color: #28a2e1;
}

.teacher-list .pagination .page-item .page-link:hover{
  color: #e10600;
}

.teacher-list .pagination .page-item.active .page-link{
  background: #28a2e1;
  color: #fff;
}

.span-red {
  color: red !important;
}

.theme-color{
  color: #28a2e1 !important;
}