@media (min-width: 768px) {
  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .breaking-caret:after {
    content: "";
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-left: 15px solid #28a2e1;
    border-bottom: 20px solid transparent;
    position: absolute;
    right: -15px;
    top: 0;
  }
}

@media (max-width: 1199.98px) {
  .teacher-list .list-group-item{
    font-size: 14px;
  }
}

@media (max-width: 991.98px) {
  .navbar-brand span{
    font-size: 24px;
  }
  .navbar-brand img {
    width: 100px;
  }
  .navbar-brand {
    padding: 6px 0px 20px 50px;
  }
  .dropdown:hover > .dropdown-menu {
    display: block;
  }
  .navbar .navbar-nav li a.nav-link {
    text-align: center;
  }

  .nav-item:after {
    display: none;
  }
  .nav-dd-icon {
    display: none;
  }
  .nav-item::before {
    position: absolute;
    display: block;
    top: 15px;
    left: 0;
    width: 11px;
    height: 1px;
    content: "";
    border: none;
    background-color: #000;
    vertical-align: 0;
  }
  .dropdown-toggle::after {
    position: absolute;
    display: block;
    top: 10px;
    left: -23px;
    width: 1px;
    height: 11px;
    content: "";
    border: none;
    background-color: #000;
    vertical-align: 0;
    transition: all 200ms linear;
  }
  .dropdown-toggle[aria-expanded="true"]::after {
    transform: rotate(90deg);
    opacity: 0;
  }
  .dropdown-menu {
    padding: 0 !important;
    background-color: transparent;
    box-shadow: none;
    transition: all 200ms linear;
  }
  .dropdown-toggle[aria-expanded="true"] + .dropdown-menu {
    margin-top: 10px !important;
    margin-bottom: 20px !important;
  }
}


@media (max-width: 767.98px) {
  .navbar-brand span{
    font-size: 18px;
  }
  .navbar-brand {
    padding: 6px 0px 20px 10px;
  }
  .navbar-brand img {
    width: 68px;
  }
  .top-social ul li a{
    font-size: 14px;  
  }
  .top-contact p {
    font-size: 14px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .top-social ul li:first-child{
    padding-left: 0;
  }
  .top-social ul li{
    padding-left: 6px;
  }
}

@media (max-width: 575.98px) {
  .top-contact {
    text-align: center;
  }
  .top-contact p {
    padding: 7px 0 0 0;
  }
  .top-social {
    margin-top: 3px;
    margin-bottom: 5px;
  }
  .top-social {
    float: none;
  }
  .top-social ul {
    width: 100%;
    text-align: center;
  }
  .top-social ul li {
    float: none;
    display: inline-block;
  }
  .top-social ul li:first-child {
    padding-left: 0;
  }
  .banner-bg{
	height: 80px;
  }
  .navbar-brand{
	white-space: inherit;
	padding: 6px 0px 20px 75px;
  }
  .navbar-brand img {
    width: 68px;
	position: absolute;
	left: 3px;
  }
  .navbar-brand span{
	  background: #fff;
	  padding: 0 3px;
  }
  .news-ticker .badge-danger{
    display: none;
  }
  section#contact {
    padding: 40px 0;
  }
  section .section-header h2 {
    font-size: 22px;
  }
  section .section-header p {
    font-size: 15px;
  }
  ul.social-touch {
    width: 250px;
  }
  ul.social-touch li {
    width: 33.33%;
  }
  ul.social-touch li a {
    font-size: 14px;
  }
}

@media (max-width: 399.98px) {
  .space-ima{
    width: 100%;
    margin-bottom: 15px;
  }
}

/***Admission Mudule CSS***/


@media (max-width: 444px) {
  #apply_button_responsive {
    display: block;
  }
  #apply_button_normal {
    display: none;
  }

  #apply_button_responsive {
    width: 100% !important;
  }

  #apply_button_responsive a, #apply_button_responsive button {
    width: 100%;
    margin: 0 !important;
    margin-top: 3px !important;
  }
}
