.ajax_loader {
    visibility: hidden;
    background-color: rgba(255,255,255,0.7);
    position: absolute;
    z-index: +100 !important;
    width: 100%;
    height:100%;
  }
  
  .ajax_loader img {
    position: fixed;
    top:50%;
    left:50%;
    pointer-events: none;
  }