fieldset {
    border: 2px solid #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
}

legend {
    width: inherit;
    padding: 0 10px;
    border-bottom: none;
    font-size: 21px;
}

.page-header .school-title {
    font-size: 1.5rem;
}

.page-header .school-estab {
    font-size: 1.2rem;
    color: red;
}

.page-header .school-director {
    color: #008C8A;
}

.alert.alert-info.text-center {
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.15);
    margin-bottom: 25px;
}

.alert.alert-info.text-center h3 {
    font-size: 1.5rem;
}

.alert.alert-info.text-center p {
    margin-bottom: 0;
}
