/*custom-print.css*/

/**{
margin: 0;
}
*/
@media print{
	@page{
		margin-top: 60px;
		margin-bottom: 60px;
	}
}
body{

/*margin-right: 60px;
margin-left: 60px;
margin-top: 60px;
margin-bottom: 60px;*/
/*padding: 60px;*/
}
table {
width: 100%;
border-collapse: collapse;
}
/*table.report { page-break-after:auto }*/
table, tr, th, td {
border: 1px solid #6c757d;
}
#custom-print-header {
	width: 100%;
	padding-bottom: 20px;
}
#custom-print-img {
	/*width: 25%;*/
	/*border: 1px solid red;*/
	/*width: 400px;*/
}
#custom-print-name {
	/*width: 75%;*/
	font-size: 25px;
	/*border: 1px solid black;*/
}
.bel {
    /*position:absolute;*/
    padding-top: 60px;
    margin-left: 30%;
    margin-right: 30%;
    /*bottom: 60px;*/
    font-size: 15px;

}
