/*body {
	width: 530px;
}*/
@media print{
/*	@page{
		margin-top: 60px;
		margin-bottom: 60px;
	}*/
}

#custom-print-header {
	width: 100%;
	padding-bottom: 20px;
}
#custom-print-img {
	/*width: 25%;*/
	/*border: 1px solid red;*/
	/*width: 400px;*/
}
#custom-print-name {
	/*width: 75%;*/
	font-size: 25px;
	/*border: 1px solid black;*/
}
.bel {
    /*position:absolute;*/
    padding-top: 60px;
    margin-left: 30%;
    margin-right: 30%;
    /*bottom: 60px;*/
    font-size: 15px;

}
#main-body-print {
	/*border: 1px solid black;*/
	/*margin-top: 85px;*/
}
#name_table{
	/*width: 80%;*/
	/*max-width: 415px;*/
	float: left;
}
#name_table th{
	text-align: left;
}
table {
	width: 100%;
	border-collapse: collapse;
	font-size: 15px;
	margin-top: 3px;
	margin-bottom: 3px;
}
table, tr, th, td {
border: 1px solid #6c757d;
}
table th{
	text-align: left;
}
.center{
	text-align: center;
}
.parofbody {
	width: 100%;
	/*clear: both;*/
	margin-bottom: 5px;
	margin-top: 5px;

}
#user_image_div {
	width: 20%;
	max-width: 120px;
	float: left;

}
.div_title {
	/*color:#fff;*/
	/*border: 1px solid #6c757d;*/
	/*background-color:#6c757d;
	border-color:#6c757d;*/
	text-align: center;
	font-size: 19px;
	/*padding: 5px 0px 5px 0px !important;*/

}
div.divFooter {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    /*text-transform: capitalize;*/
}